@import './resets', './variables';

@function weight($weight-name) {
    @return map-get($map: $font-weights, $weight-name);
}

body {
    background: $primary-color;
    color: $text-color;
    font-weight: weight(bold);
}

.main {
    width: 80%;
    margin: 0 auto;

    #{&}__paragraph {
        font-weight: weight(regular);

        &:hover {
            color: pink;
        }
    }
}