@import './resets', './variables';

body {
    background: $primary-color;
    color: $text-color;
    font-weight: map-get($font-weights, bold);
}

.main {
    width: 80%;
    margin: 0 auto;

    #{&}__paragraph {
        font-weight: map-get($font-weights, medium);

        &:hover {
            color: pink;
        }
    }
}